:root {
    --fontaw: Fraunces;
    --colorf: #FEFCF7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEFCF7;
}

.container {
    width: 100%;
    max-width: 1280px;
    /* background-color: aqua; */
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 30px;
    align-items: center;
}

.hero {
    position: relative;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 33px;
}

.header-links ul li a {
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.header-links ul li a:hover {
    color: #0E8784;

}

.hero-text {
    position: absolute;
    top: 120px;
    left: 86px;
}

.hero-text h1 {
    color: #FEFCF7;
    font-size: 72px;
    font-style: normal;
    line-height: 72px;
}

.hero-text p {
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    opacity: 0.8;
    margin-top: 30px;
    width: 417px;
}

button {
    margin-top: 56px;
    padding: 15px 31px;
    border-radius: 6px;
    background-color: #0E8784;
    color: #FEFCF7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #FEFCF7;
    color: #0E8784;
    transition: all 0.5s;

}

.collections-info-extra {
    display: flex;
    /* gap: 30px; */
    justify-content: space-around;

}

.box-1 {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-1 img {
    width: 255px;
    height: 193px;

}

.picture-back {
    width: 1111px;
    height: 196px;
    margin: 0 auto;
    padding-top: 86px;
}

.box-1 h3 {
    padding-top: 67px;
    color: #333D4B;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.box-1 p {
    color: #333D4B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.bitmap-main {
    position: relative;
}

.bit-map {
    width: 100%;
    height: 550px;
    background-color: #2C343E;
    text-align: center;
    margin-top: 200px;
    position: relative;
}

.bit-map h3 {
    padding-top: 100px;
    color: var(--colorf);
    text-align: center;
    font-family: --fontaw;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;

}

.bit-map p {
    color: #FEFCF7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 540px;
    margin-top: 32px;
    margin-left: 370px;
}

.bit-cards {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.bit-card {
    width: 350px;
    height: 382px;
    border-radius: 8px;
    background: #0E8784;
    position: absolute;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.bit-card img {
    margin-top: 70px;
}

.bit-card h3 {
    margin-top: 56px;
    margin-bottom: 32px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.bit-card p {
    color: #FEFCF7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 255px;
    margin-left: 47px;
}

.about-work {
    padding-top: 350px;
    margin-left: 85px;
    width: 1045px;
}

.work-cards {
    display: flex;
    gap: 95px;
}

.about-work h2 {
    color: #83888F;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 80px;
}

.work-cards span {
    color: #FDD6BA;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 39px;
}

.work-cards h3 {
    margin-top: 39px;
    color: #333D4B;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    width: 255px;
    margin-bottom: 41px;
}

.work-cards p {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 64px;
}
.card-1{
    position: absolute;
    left: 30px;
}
.card-2{
    position: absolute;
    right: 30px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    background-color: #2C343E;
    padding: 47px 85px;
    align-items: center;
    height: 120px;
    margin-top: 100px;
    margin-bottom: 88px;
}

.footer-menu ul {
    display: flex;
    list-style: none;
    gap: 33px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.footer-menu ul li a:hover {
    color: #0E8784;
}